.header {
    &__wrapper {
        height: 18vh;
          }
    &-logo__wrapper {
        height: 10vh;
        border-bottom: 1px solid black;
        display: flex;
        align-items: center;
    }
    &-logo {
        height: 5vh;
        margin: 0 25px;

    }

    &-nav__wrapper {
        height: 8vh;
        font-weight: 700;
        
    }
    &-nav {
        height: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;

        &__item {
            flex-grow: 1;
            height: 100%;
            display: flex;
        }
    }
}

.nav-link {
    flex-grow: 1;
    text-align: center;
    vertical-align: middle; 
    //No se cómo centrar verticalmente el texto.. esto no sirve. He puesto un parche con la sig. línea (padding)
    padding-top: 10px;

    &--active {
        background-color: $orange;
        color: black;
        }
    &--normal {
        background-color: black;
        color: white;
        flex-grow: 1;
    }
}