.header {
  &__wrapper {
    height: 18vh;
  }

  &-bar {
    &__wrapper {
      height: 10vh;
      border-bottom: 1px solid black;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    &__logo {
      height: 5vh;
      margin: 0 25px;
    }

    &__search {
      &--icon {
        margin: 0 25px;
        border: 1px solid black;
        color: black;
        height: 38px;
        width: 38px;
        border-radius: 19px;
        background-color: $orange;
        padding: 0;
        -webkit-appearance: none;
        align-self: flex-end;
        &:hover {
          color: black;
          background-color: $grey-titanium;
        }
      }
    }
  }

  &-nav {
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    &__wrapper {
      height: 8vh;
      font-weight: 700;
    }

    &__item {
      flex-grow: 1;
      height: 100%;
      display: flex;
    }
  }
}

.nav-link {
  flex-grow: 1;
  text-align: center;
  vertical-align: middle;
  //No se cómo centrar verticalmente el texto.. esto no sirve. He puesto un parche con la sig. línea (padding)
  padding-top: 10px;

  &-icon {
    height: 10px;
  }

  &--active {
    background-color: $orange;
    color: black;
  }
  &--normal {
    background-color: black;
    color: white;
    flex-grow: 1;
  }
}
