
.menu {
    &__wrapper {
        height: 57vh;    
        background-color: darkorange;    
    }
    &-list {
        &__container {
        margin: 0 25px;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        text-transform: uppercase;
        }
        &__item {

        }
    }
}