.search-new {
  &__wrapper {
    height: 68vh;
    background-color: $orange;
  }

  &-form__wrapper {
    margin: 0 25px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
  }
  &-input {
    &__wrapper {
      display: flex;
    }
    &__text {
      margin-right: 36px;
    }
  }
}
.fa-search {
  display: inline;
  padding: 10px;
}
