.main-section {
  &__wrapper {
    background-color: $grey-cloud;
    min-height: 68vh;
  }
  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding: 22px 25px;

    // padding: 20px 0;
    &--btns {
      &-item {
        margin: 0.67em 5px;
        border: 2px solid black;
        color: black;
        background-color: $orange;
        height: 30px;
        width: 45px;
        border-radius: 3px;
        margin: 10px;
      }
    }
  }
}

.section {
  &-main__wrapper {
    background-color: $orange;
  }
  &-title {
  }
  &-container {
  }
}

.blue-background {
  height: 16px;
  background-color: $blue;
}
